<nav class="navbar navbar-dark bg-primary" ><!-- navbar navbar-inverse  navbar-brand-->

    <div class="container-fluid"  >
      <ng-template appPlaceHolder></ng-template>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
              <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
            </button>
            <strong><a (click)="linkPressed = 'Recipe'"  routerLink="/recipes" class="navbar-brand">Recipes Book</a></strong>
          </div>
          <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
            <ul class=" nav navbar-nav">
                <li routerLinkActive="active" *ngIf="isAuthenticated" >
                    <a class="linkOnMouseHover" (click)="linkPressed = 'Recipe'" [ngClass]="{linkOnMouse: linkPressed ==='Recipe'}" routerLink="/recipes">Recipe</a>
                </li>
                <li routerLinkActive="active" *ngIf="!isAuthenticated">
                    <a class="linkOnMouseHover" (click)="linkPressed = 'Authenticate'" [ngClass]="{linkOnMouse: linkPressed ==='Authenticate'}" routerLink="/auth">Register/Login</a>
                </li>
                <li routerLinkActive="active" >
                    <a class="linkOnMouseHover" (click)="linkPressed = 'ShoppingList'" [ngClass]="{linkOnMouse: linkPressed ==='ShoppingList'}"  routerLink="/shopping-list">Shopping List</a>
                </li>

            </ul>
            <ul class=" nav navbar-nav navbar-right ">
                <li>
                    <a class="linkOnMouseHover" (click)="onLogout()" *ngIf="isAuthenticated">Logout</a>
                </li>
                <li class="" appDropdownHeader *ngIf="isAuthenticated">
                    <a  class="dropdown-toggle linkOnMouseHover" [ngClass]="{customBackground:dropdownClicked}" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a  class="dropDownOption" (click)="onSaveData()" >Save Data</a></li>
                        <li><a  class="dropDownOption" (click)="onFetchData()" >Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>

</nav>
<!-- style="cursor: pointer;" #manageButton-->
