.container {
    margin-top: 0px;

  }

  input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
    border: 1px solid red
  }



  .invalidMsg{
    color:red;
  }

  .submittedDetails{
    background-color: rgb(255, 255, 128);
    width: max-content;
    border: 2px black double
  }





  .emptyImg{
    width: 300px;
    height: 200px;
    background-color: rgb(252, 250, 176);
    border: 2px dashed black;
    text-align: center;
    padding: 23%;
  }

  img{
    border:2px solid gray;
    max-width: 330px;
    height: auto;
  }

