  <div [@showingUp]>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-0">
            <h1 *ngIf="!editMode ; else elseEdit" >Add New Recipe</h1>
            <ng-template #elseEdit><h1>Edit Recipe</h1></ng-template>
        </div>
    </div>

     <div class="row">
        <div class="col-xs-12 ">
          <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <button *ngIf="editMode" style=" padding-top: 3.40px; padding-bottom: 7px;" [disabled]="!recipeForm.valid" type="=submit" class="btn btn-success"><i style="font-size: 22px !important; position: relative; top:3px;" class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Save Changes To List</button>
            <button style=" padding-top: 3.40px; padding-bottom: 7px;" *ngIf="!editMode" [disabled]="!recipeForm.valid" type="=submit" class="btn btn-success"><i style="font-size: 22px !important; position: relative; top:3.5px" class="fa fa-plus-square-o" aria-hidden="true"></i> &nbsp;Add Recipe To List</button>
            <button style="margin-left:0.5%;" (click)="onCancel()" type="=button" class="btn btn-danger"><i style="position: relative; top:1.3px;" class="fa fa-arrow-down" aria-hidden="true"></i>&nbsp; Cancel</button>
            <br><br>
            <div class="row">
              <div class="col-xs-8">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" formControlName="name" placeholder="Enter Recipe Name" id="name" class="form-control">
                  <span *ngIf="!recipeForm.get('name').valid && recipeForm.get('name').touched" class="invalidMsg">Enter valid name!</span>
                </div>
              </div>
            </div>

            <!-- <div class="row">
              <div class="col-xs-8">
                <div class="form-group">
                  <label for="name">Image</label>
                  <input #imagePath formControlName="imagePath" placeholder="Enter Recipe Image" type="text" id="imagePath" class="form-control">
                  <span *ngIf="!recipeForm.get('imagePath').valid && recipeForm.get('imagePath').touched" class="invalidMsg">Enter valid image!</span>

                </div>
              </div>
            </div> -->

            <div class="row">
              <div class="col-xs-4">
                <div class="form-group">
                  <label for="name">Image</label>
                  <uploader (urlLink)="loadImageURL($event)"></uploader>
                </div>
              </div>
              <div class="col-md-4">
                  <br><br>
                  <img  *ngIf="newImgURL !== ''" [src]="newImgURL" class="img-responsive form-control">
                  <div *ngIf="newImgURL === ''" class="emptyImg">Empty Image</div>
                  <span *ngIf="!recipeForm.get('imagePath').valid" class="invalidMsg">Enter valid image!</span>
                  <!-- || recipeForm.get('imagePath').hasError('imageNameNotFound') || !recipeForm.get('imagePath').valid -->
                  <!-- recipeForm.get('imagePath').valid && !recipeForm.get('imagePath').hasError('imageNameNotFound') -->
              </div>

            </div>

            <div class="row">
              <div class="col-xs-8">
                <div class="form-group">
                  <label for="name">Description</label>
                  <textarea type="text" formControlName="description" placeholder="Enter Recipe Description" id="description" class="form-control" rows="6"></textarea>
                  <span *ngIf="!recipeForm.get('description').valid && recipeForm.get('description').touched" class="invalidMsg">Enter valid description!</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-10" formArrayName="ingredients">
                <label for="name">Ingredients</label>
                <div [@ingrediantEdit] class="row" *ngFor="let ingredientCtrl of controls; let i = index" [formGroupName]="i">
                  <div class="col-xs-6">
                    <input type="text" placeholder="Enter Ingrediant Name" class="form-control" formControlName="name">
                    <!-- <span *ngIf="!recipeForm.get('name').valid && recipeForm.get('name').touched" class="invalidMsg">Enter valid ingredient name!</span> -->
                  </div>

                  <div class="col-xs-2">
                    <input type="number" placeholder="Amount" class="form-control" formControlName="amount">
                    <!-- <span *ngIf="!recipeForm.get('amount').valid && recipeForm.get('amount').touched" class="invalidMsg">Enter valid ingredient amount!</span> -->
                  </div>
                  <div class="col-xs-2">
                    <button type="button" style="padding-top:5px; padding-bottom: 5px;" (click)="onDeleteIngredient(i)" class="btn btn-danger"><i style="font-size: 20px !important;" class="fa fa-times" aria-hidden="true"></i></button>
                  </div>
                  <br><br>
                </div>
                <br>
                <div class="row">
                  <div class="col-xs-12">
                    <button type="button" (click)="onAddIngredient()"  class="btn btn-success"><i style="position: relative; top:2.5px" class="fa fa-plus" aria-hidden="true"></i> &nbsp;Add Ingredient</button>
                    <span *ngIf="recipeForm.get('ingredients').hasError('noIngredients')" class="invalidMsg">&nbsp;  Add at least one ingredient!</span>
                  </div>
                </div>
              </div>
            </div>


          </form>

        </div>
     </div>

    </div>







