<div class="row" [@ShowDetails]>
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-responsive">

    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>{{recipe.name}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
          <div [@confirmation] *ngIf="IngAddedToSL" class="alert alert-dismissible alert-success btn-group" style="width: 49%;">
            <button (click)="closeIngAddedToSlMsg()" type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Ingredients added to shopping list</strong> <br> <a routerLink="/shopping-list" class="alert-link">Open shopping List</a>.
          </div>
            <br>
            <div class="btn-group" appDropdown >
                <button type="button" class="btn btn-primary dropdown-toggle">
                    Manage Recipe <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
                    <li><a (click)="onEditRecipe()"  style="cursor: pointer;">Edit Recipe</a></li>
                    <li><a (click)="onDeleteRecipe()" style="cursor: pointer;">Delete Recipe</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- routerLink="edit" -->
    <div class="row">
        <div class="col-xs-12">
            <h4>{{recipe.description}}</h4>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-6" >
           <ul class="list-group" >
               <li  class="list-group-item"  *ngFor="let ingrediant of recipe.ingredients">
                <strong>
                {{ingrediant.name}} - {{ingrediant.amount}}
                </strong>
               </li>
           </ul>
        </div>
    </div>
</div>
