progress::-webkit-progress-value {
  transition: width 0.1s ease;

}

progress{
  width: 50%;
  height: 30px;
}
img{
  width: 220px;
  height: auto;

}

.progressDiv{
  text-align: center;
}


/* .closeBtn{
  position: fixed;
  left: -230px;
  top:6px;
  opacity: 0.5;
  border: 2px solid rgb(29, 28, 28);
  color:rgb(29, 28, 28);
  border-radius: 50%;
  width: 26px;
  height: 26px;
  text-align: center;

}
.closeBtn:hover{

  color:white;
  border: 2px solid white;

} */

.container {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .closeBtn {
  position: absolute;
  top: 10%;
  left: 89%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: black;
  font-size: 25px;
  padding: 1.5px 5px 0px;
  border: none;
  cursor: pointer;
  /* border-radius: 5px; */
  opacity: 0.6;
  text-align: center;;
  font-weight: lighter;

}

.container .closeBtn:hover {
  color: white;
  border-radius: 50%;
  padding: 1% 2% 0%;
  background-color: rgb(114, 107, 107);
}

.closeX{
  position: absolute;
  /* background-color: rgb(228, 50, 50); */
/*   border: 0px;
  border-radius:50px; */
  width: 20px;
  height: 20px;
  /* color:white; */
 /*  display: block;
  text-align: center;
  font-weight: bold; */

}

.closeX:hover{
  width: 23px;
  height: 23px;
}
.closeX:active{
  width: 20px;
  height: 20px;
}
